pkgbase = breeze-icons-extra
	pkgdesc = Breeze icon themes for KDE Plasma. Extra version
	pkgver = 5.82
	pkgrel = 5
	url = https://github.com/grigorii-horos/breeze-icons-extra
	arch = any
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = qt5-base
	makedepends = nodejs
	makedepends = npm
	provides = breeze-icons
	provides = breeze-icons-git
	conflicts = breeze-icons
	conflicts = breeze-icons-git

pkgname = breeze-icons-extra

