pkgbase = breeze-icons-extra
	pkgdesc = Breeze icon themes for KDE Plasma. Extra version
	pkgver = 5.84
	pkgrel = 11
	url = https://github.com/grigorii-horos/breeze-icons-extra
	arch = any
	groups = kf5
	license = LGPL
	makedepends = extra-cmake-modules
	makedepends = git
	makedepends = qt5-base
	makedepends = nodejs
	makedepends = npm
	makedepends = parallel

pkgname = breeze-icons-extra
	optdepends = breeze-icons-extra-light: Install one of this packages
	optdepends = breeze-icons-extra-dark: Install one of this packages
	provides = breeze-icons
	provides = breeze-icons-git
	conflicts = breeze-icons
	conflicts = breeze-icons-git

pkgname = breeze-icons-extra-light
	depends = breeze-icons-extra
	provides = breeze-icons-extra-light

pkgname = breeze-icons-extra-dark
	depends = breeze-icons-extra
	provides = breeze-icons-extra-dark
