[Desktop Entry]
Type=Service
Encoding=UTF-8
Version=2.0.3
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Actions=downloads;documents;pictures;music;videos;text;_SEPARATOR_;image-people;public;cloud;network;remote;gdrive;_SEPARATOR_;development;script;templates;tar;mail;print;games;_SEPARATOR_;favorites;bookmark;important;locked;unlocked;recent;_SEPARATOR_;noLabel;

X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=folder-red
X-KDE-Submenu=Change label
X-KDE-Submenu[ru]=Сменить метку

[Desktop Action noLabel]
Name=No Label
Name[ru]=No Label
Icon=folder
Exec=change-folder-icon label "" %F

[Desktop Action downloads]
Name=Downloads
Name[ru]=Загрузки
Icon=folder-downloads
Exec=change-folder-icon label downloads %F

[Desktop Action templates]
Name=Templates
Name[ru]=No Label
Icon=folder-templates
Exec=change-folder-icon label templates %F

[Desktop Action public]
Name=Public
Name[ru]=No Label
Icon=folder-public
Exec=change-folder-icon label public %F

[Desktop Action documents]
Name=Documents
Name[ru]=No Label
Icon=folder-documents
Exec=change-folder-icon label documents %F

[Desktop Action music]
Name=Music
Name[ru]=No Label
Icon=folder-music
Exec=change-folder-icon label music %F

[Desktop Action pictures]
Name=Pictures
Name[ru]=No Label
Icon=folder-pictures
Exec=change-folder-icon label pictures %F

[Desktop Action videos]
Name=Videos
Name[ru]=No Label
Icon=folder-videos
Exec=change-folder-icon label videos %F

[Desktop Action text]
Name=Texts
Name[ru]=No Label
Icon=folder-text
Exec=change-folder-icon label text %F

[Desktop Action development]
Name=Development
Name[ru]=No Label
Icon=folder-development
Exec=change-folder-icon label development %F

[Desktop Action script]
Name=Scripts
Name[ru]=No Label
Icon=folder-script
Exec=change-folder-icon label script %F

[Desktop Action mail]
Name=Mail
Name[ru]=No Label
Icon=folder-mail
Exec=change-folder-icon label mail %F

[Desktop Action image-people]
Name=People
Name[ru]=No Label
Icon=folder-image-people
Exec=change-folder-icon label image-people %F

[Desktop Action network]
Name=Network
Name[ru]=No Label
Icon=folder-network
Exec=change-folder-icon label network %F

[Desktop Action remote]
Name=Remote
Name[ru]=No Label
Icon=folder-remote
Exec=change-folder-icon label remote %F

[Desktop Action gdrive]
Name=Google Drive
Name[ru]=No Label
Icon=folder-gdrive
Exec=change-folder-icon label gdrive %F

[Desktop Action print]
Name=Print
Name[ru]=No Label
Icon=folder-print
Exec=change-folder-icon label print %F

[Desktop Action games]
Name=Games
Name[ru]=No Label
Icon=folder-games
Exec=change-folder-icon label games %F

[Desktop Action tar]
Name=Archive
Name[ru]=No Label
Icon=folder-tar
Exec=change-folder-icon label tar %F

[Desktop Action cloud]
Name=Cloud
Name[ru]=No Label
Icon=folder-cloud
Exec=change-folder-icon label cloud %F

[Desktop Action bookmark]
Name=Bookmarks
Name[ru]=No Label
Icon=folder-bookmark
Exec=change-folder-icon label bookmark %F

[Desktop Action favorites]
Name=Favorites
Name[ru]=No Label
Icon=folder-favorites
Exec=change-folder-icon label favorites %F

[Desktop Action important]
Name=Important
Name[ru]=No Label
Icon=folder-important
Exec=change-folder-icon label important %F

[Desktop Action locked]
Name=Locked
Name[ru]=No Label
Icon=folder-locked
Exec=change-folder-icon label locked %F

[Desktop Action unlocked]
Name=Unlocked
Name[ru]=No Label
Icon=folder-unlocked
Exec=change-folder-icon label unlocked %F

[Desktop Action recent]
Name=Recent
Name[ru]=No Label
Icon=folder-recent
Exec=change-folder-icon label recent %F
