[Desktop Entry]
Type=Service
Encoding=UTF-8
Version=2.0.3
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Actions=red;yellow;green;cyan;blue;violet;_SEPARATOR_;grey;_SEPARATOR_;noColor;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=folder-red
X-KDE-Submenu=Change color
X-KDE-Submenu[ru]=Сменить цвет

[Desktop Action noColor]
Name=No Color
Name[ru]=No Color
Icon=folder
Exec=change-folder-icon color "" %U

[Desktop Action red]
Name=Red
Name[ru]=Красный
Icon=folder-red
Exec=change-folder-icon color red %U

[Desktop Action yellow]
Name=Yellow
Name[ru]=Желтый
Icon=folder-yellow
Exec=change-folder-icon color yellow %U

[Desktop Action green]
Name=Green
Name[ru]=Зеленый
Icon=folder-green
Exec=change-folder-icon color green %U

[Desktop Action cyan]
Name=Cyan
Name[ru]=Голубой
Icon=folder-cyan
Exec=change-folder-icon color cyan %U


[Desktop Action blue]
Name=Blue
Name[ru]=Синий
Icon=folder-blue
Exec=change-folder-icon color blue %U

[Desktop Action violet]
Name=Violet
Name[ru]=Фиолетовый
Icon=folder-violet
Exec=change-folder-icon color violet %U

[Desktop Action grey]
Name=Grey
Name[ru]=Серый
Icon=folder-grey
Exec=change-folder-icon color grey %U
