[Desktop Entry]
Type=Service
Encoding=UTF-8
Version=2.0.3
ServiceTypes=KonqPopupMenu/Plugin,inode/directory
Actions=downloads;documents;pictures;music;videos;text;_SEPARATOR_;image-people;public;cloud;network;remote;gdrive;_SEPARATOR_;development;script;templates;tar;mail;print;games;_SEPARATOR_;favorites;bookmark;important;locked;unlocked;_SEPARATOR_;noLabel;
X-KDE-Priority=TopLevel
X-KDE-StartupNotify=false
Icon=folder-games
X-KDE-Submenu=Change label
X-KDE-Submenu[ru]=Сменить метку

[Desktop Action noLabel]
Name=No Label
Icon=folder
Exec=change-folder-icon label "" %U

[Desktop Action downloads]
Name=Downloads
Name[ru]=Загрузки
Icon=folder-downloads
Exec=change-folder-icon label downloads %U

[Desktop Action templates]
Name=Templates
Icon=folder-templates
Exec=change-folder-icon label templates %U

[Desktop Action public]
Name=Public
Icon=folder-public
Exec=change-folder-icon label public %U

[Desktop Action documents]
Name=Documents
Icon=folder-documents
Exec=change-folder-icon label documents %U

[Desktop Action music]
Name=Music
Icon=folder-music
Exec=change-folder-icon label music %U

[Desktop Action pictures]
Name=Pictures
Icon=folder-pictures
Exec=change-folder-icon label pictures %U

[Desktop Action videos]
Name=Videos
Icon=folder-videos
Exec=change-folder-icon label videos %U

[Desktop Action text]
Name=Texts
Icon=folder-text
Exec=change-folder-icon label text %U

[Desktop Action development]
Name=Development
Icon=folder-development
Exec=change-folder-icon label development %U

[Desktop Action script]
Name=Script
Icon=folder-script
Exec=change-folder-icon label script %U

[Desktop Action mail]
Name=Mail
Icon=folder-mail
Exec=change-folder-icon label mail %U

[Desktop Action image-people]
Name=People
Icon=folder-image-people
Exec=change-folder-icon label image-people %U

[Desktop Action network]
Name=Network
Icon=folder-network
Exec=change-folder-icon label network %U

[Desktop Action remote]
Name=Remote
Icon=folder-remote
Exec=change-folder-icon label remote %U

[Desktop Action gdrive]
Name=Google Drive
Icon=folder-gdrive
Exec=change-folder-icon label gdrive %U

[Desktop Action print]
Name=Print
Icon=folder-print
Exec=change-folder-icon label print %U

[Desktop Action games]
Name=Games
Icon=folder-games
Exec=change-folder-icon label games %U

[Desktop Action tar]
Name=Archive
Icon=folder-tar
Exec=change-folder-icon label tar %U

[Desktop Action cloud]
Name=Cloud
Icon=folder-cloud
Exec=change-folder-icon label cloud %U

[Desktop Action bookmark]
Name=Bookmark
Icon=folder-bookmark
Exec=change-folder-icon label bookmark %U

[Desktop Action favorites]
Name=Favorites
Icon=folder-favorites
Exec=change-folder-icon label favorites %U

[Desktop Action important]
Name=Important
Icon=folder-important
Exec=change-folder-icon label important %U

[Desktop Action locked]
Name=Locked
Icon=folder-locked
Exec=change-folder-icon label locked %U

[Desktop Action unlocked]
Name=Unlocked
Icon=folder-unlocked
Exec=change-folder-icon label unlocked %U
